.suggestion {
	position: relative;
	width: 200px;
	min-width: 100px;
}

.suggest__wrapper {
	position: relative;
	width: 100%;
	border-radius: 100px;

	background: white;
}

.suggestion__item {
	width: 80%;
	border: 2px solid rgb(255, 255, 255);
	padding: 5px;
	margin: 0 auto;

	text-align: center;

	background: rgb(255, 214, 214);
	color: black;

	font-size: 0.8em;

	cursor: pointer;
	transition: 0.5s;
}

.suggestion__item:last-child {
	border-bottom: 2px solid rgb(255, 255, 255);
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

.suggestion__item:hover {
	background: rgb(244, 158, 158);
	color: rgb(43, 43, 43);
}

.suggestion__input {
	width: 80%;
	border: 2px solid white;
	border-radius: 100px;
	padding: 5px;

	background: white;
	color: black;

	outline: none;
}

.suggestion__input::placeholder {
	color: black;
}

.suggestion__clear {
	position: absolute;
	right: 10px;
	top: 8px;
	border: none;

	background: transparent;

	cursor: pointer;
}

.suggestion__message {
	position: absolute;
	width: 100%;
	margin-top: 10px;

	color: rgb(239, 239, 99);

	text-align: center;
	font-size: 0.7em;
}

.suggestion__list {
	position: absolute;
	left: 10px;
	margin: 0;
	width: 90%;
	max-height: 120px;

	overflow-y: auto;
	z-index: 999;
}

@media (max-width: 320px) {
	.suggestion {
		width: 100% !important;
	}

	.suggestion__item {
		width: 60% !important;
	}

	.suggestion__clear {
		right: 3px;
	}
}

@media (max-width: 620px) {
	.suggestion {
		width: 90% !important;
	}

	.suggestion__item {
		width: 60% !important;
	}

	.suggestion__clear {
		right: 0;
	}
}
